.circle{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time{
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.title{
  color: #fff;
  font-size: .8rem;
  font-weight: 500;
  margin-top: -7.5px;
}