.divMaster {
  height: 5rem;
  margin: 10 auto;
  border-bottom: solid 5px #f00;
}
.logos{
  margin-top: .2rem;
}
.black {
  background-color: #000;
}
.footer {
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.7rem;
  }
  .logoClaro {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  .logoSochi {
    margin: .4rem auto;
    visibility: visible;
    width: auto;
  }
}